// =====================colors======================
$yellow: rgba(252, 183, 43, 1);
$darkNavy: rgba(73, 85, 103, 1);
$dimGrey: rgba(147, 156, 170, 1);
$lightGrey: rgba(229, 236, 244, 1);
$snow: rgba(242, 245, 249, 1);
$lightYellow: rgba(255, 244, 223, 1);
$paragraphColorWhite: rgba(255, 255, 255, 1);


// ======================fonts========================
$boldFont: 'Space Mono', monospace;
$paragraphFont: 'Lexend Deca', sans-serif;