.titleFaqs{
    color: $darkNavy;
    text-align: center;
    margin: 120px 0 64px 0;
}

.gridBox{
    margin-bottom: 160px;
    display: grid;
    gap: 64px;
    align-items: flex-start;
    justify-content: space-between;
    grid-template-areas: 
    "title1 box1"
    "title2 box2"
    ;

    &__title:nth-child(1){
        color: $darkNavy;
        grid-area: "title1";
    }

    &__title:nth-child(2){
        color: $darkNavy;
        grid-area: "title2";
    }

    &__boxs{
        
        
        &--box{
            width: 730px;
            padding: 32px 40px;
            background-color: $snow;
            margin-bottom: 16px;
            position: relative;
            
            &-questions{
                color: $darkNavy;
            }

            &-paragraph{
                color: $darkNavy;
                margin-top: 24px;
            }

            &-icon{
                color: $yellow;
                font-size: 25px;
                position: absolute;
                top: 38px;
                right: 40px;
            }

            .iconDeg{
                transform: rotate(180deg);
            }
        }
    }


    &__boxs:nth-child(1){
        grid-area: "box1";
    }

    &__boxs:nth-child(2){
        grid-area: "box2";
    }
}